<mat-grid-list cols=2>
<mat-grid-tile>
  <div class="card ">
    <div class="card-body">

      <app-tabla-component
      [data]=registros
      [headersInput]="headersUsuarios"
      [information]="informationTable"
      [filter]="1 === 1">
      </app-tabla-component>

    </div>
  </div>
</mat-grid-tile>
<mat-grid-tile>
  <div class="card ">
    <div class="card-body">

      <app-tabla-component
      [data]=registros
      [headersInput]="headersUsuarios"
      [information]="informationTable"
      [filter]="1 === 1">
      </app-tabla-component>

    </div>
  </div>
</mat-grid-tile>
</mat-grid-list>

