<div *ngIf="filter" class="filter">
  <mat-form-field class="full-width">
      <mat-label>Buscar</mat-label>
      <mat-icon mat-mini-fab [ngStyle]="{'color':'green'}" matPrefix>search</mat-icon>
      <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
</div>
<mat-card>
  <mat-card-header color="primary" fxLayout="row"  fxLayout.xs="column">
      <mat-card-title fxFlex>
          {{ information.title }}
          <mat-card-subtitle>{{ information.subTitle }}</mat-card-subtitle>
      </mat-card-title>
      <div class="ngContent" fxFlex  fxLayoutAlign="end start">
          <ng-content class="ngContent" select="[slot='button']"></ng-content>
      </div>
  </mat-card-header>
  <mat-card-content class="example-container">
      <mat-table #table [dataSource]="dataSource" matSort #sort>
          <ng-container *ngFor="let col of headers; let i = index" [matColumnDef]="col.value">
              <ng-container *ngIf="!col.templateRef">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.text }}</mat-header-cell>
                  <mat-cell *matCellDef="let item"> <span
                          class="mobile-label">{{ col.text }}</span>{{ item[col.value] }}</mat-cell>
              </ng-container>
              <ng-container *ngIf="col.templateRef">

                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.text }}</mat-header-cell>
                  <mat-cell *matCellDef="let item">
                      <ng-template [ngTemplateOutletContext]="{ element: item, column: col }"
                          [ngTemplateOutlet]="col.templateRef"></ng-template>
                  </mat-cell>
              </ng-container>
          </ng-container>
          <mat-header-row *matHeaderRowDef="headerValues"></mat-header-row>
          <mat-row *matRowDef="let row; columns: headerValues" class="example-element-row"></mat-row>
          <mat-row *matNoDataRow>
              <mat-cell colspan="4">
                  <!-- No se encuentran dat
                    os para la búsqueda "{{ input.value }}" -->
              </mat-cell>
          </mat-row>
      </mat-table>
  </mat-card-content>
  <mat-card-actions>

      <mat-paginator #paginator [pageSizeOptions]="[5, 10,15]"></mat-paginator>
  </mat-card-actions>
</mat-card>
