

<div class="col-12">
  <div class="card">
    <div class="card-body">

      <div class="columns">
        <div class="column col-12">

          <div class="row justify-content-between">
            <div class="col-4">
              <div id="example23_filter" (input)="onChange($event.target.value)" class="dataTables_filter"><label>Buscar:<input type="search" class="" placeholder="" aria-controls="example23"></label></div>

            </div>
            <div class="col-4">
              <ng-content seleect="button"></ng-content>
            </div>
          </div>
          <br>

        </div>
      </div>


      <ngx-table
        [configuration]="configuration"
        [summaryTemplate]="summaryTemplateRef"
        [data]="data"
        [columns]="Columns"
        [pagination]="pagination"
        (event)="eventEmitted($event)"
        [noResultsTemplate]="noResultsTemplate"
        #table
        >

      </ngx-table>
      <ng-template #summaryTemplateRef let-total="total">
        <th colspan="5">
          <span class="mb-2">Total de elementos: {{ total }} </span>

        </th>
      </ng-template>
      <ng-template #noResultsTemplate>
        <td [attr.colspan]="Columns?.length" class="no-results">
          No se encontro resultados :(
        </td>
      </ng-template>

      <!-- <ng-template #actionTpl let-row let-rowIndex="rowIndex">
        <div class="btn btn-primary" >Remove</div>
      </ng-template> -->

    </div>
  </div>
</div>
