<ng-snotify></ng-snotify>

<div class="container">
  <div class="row justify-content-center">
    <div class="card w-75 text-center">
      <div class="card-header">
        <div class="row justify-content-around">
          <div class="col-6">NUEVA SOLICITUD DE AUDIENCIA</div>
          <div class="col-4">{{ CurrentDate | date: "yyyy-MM-dd" }}</div>
        </div>
      </div>
      <br />
      <div class="card-body">
        <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
          <ng-wizard-step
            [description]="'Datos Basicos'"
            [canEnter]="isValidTypeBoolean"
            [canExit]="isValidFunctionReturnsBoolean.bind(this)"
          >
            <span>Datos basicos del solicitante</span>
            <br />
            <div class="row">
              <div class="col-8">
                <span
                  ><strong>NOTA: </strong>El solicitante debe estar vinculado al
                  proceso
                </span>
              </div>
            </div>
            <br><br>
            <form  #personaForm="ngForm">
              <div class="row">
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="TipoDocumento" >Tipo de documento</label>
                    <select
                      [(ngModel)]="persona.tipoDocumento"
                      class="form-control custom-select p-0"
                      id="TipoDocumento"
                      name="TipoDocumento"
                      required
                      #TipoDocumentoControl="ngModel"
                    >
                    <option value="">Selecione Tipo Solicitante</option>
                    <option
                    *ngFor="let item of tipoDocumentos"
                    [value]="item.key"
                  >
                    {{ item.key }}
                  </option>
                      </select
                    >
                    <ng-container
                      *ngIf="
                        TipoDocumentoControl.invalid &&
                        TipoDocumentoControl.touched
                      "
                    >
                      <div
                        *ngIf="TipoDocumentoControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="NumeroDocumento">Numero documento</label>
                    <input
                      [(ngModel)]="persona.numeroDocumento"
                      name="NumeroDocumento"
                      type="text"
                      class="form-control"
                      id="NumeroDocumento"
                      required
                      minlength="8"
                      maxlength="11"
                      (keypress)="onlyNumberKey($event)"
                      #NumeroDocumentoControl="ngModel"
                    />
                    <ng-container
                      *ngIf="
                        NumeroDocumentoControl.invalid &&
                        NumeroDocumentoControl.touched
                      "
                    >
                      <div
                        *ngIf="NumeroDocumentoControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="NumeroDocumentoControl.errors.minlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Minimo 8 digitos</small>
                      </div>
                      <div
                        *ngIf="NumeroDocumentoControl.errors.maxlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Maximo 11 digitos</small>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="ExpedicionDocumento">Fecha expedición</label>
                    <input
                      type="date"
                      [(ngModel)]="persona.expedicionDocumento"
                      name="ExpedicionDocumento"
                      class="form-control"
                      id="ExpedicionDocumento"
                      required
                      minlength="3"
                      #ExpedicionDocumentoControl="ngModel"
                    />
                    <ng-container
                      *ngIf="
                        ExpedicionDocumentoControl.invalid &&
                        ExpedicionDocumentoControl.touched
                      "
                    >
                      <div
                        *ngIf="ExpedicionDocumentoControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="ExpedicionDocumentoControl.errors.minlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Minimo 3 caracteres </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="form-group m-b-40">
                    <label for="nombre1">Primer Nombre*</label>
                    <input
                      type="text"
                      [(ngModel)]="nombresYapellidos[0]"
                      name="nombre1"
                      class="form-control"
                      id="nombre1"
                      required
                      minlength="3"
                      #nombre1Control="ngModel"
                      (blur)="
                        nombresYapellidos[0] = nombresYapellidos[0].trim()
                      "
                    />
                    <ng-container
                      *ngIf="nombre1Control.invalid && nombre1Control.touched"
                    >
                      <div
                        *ngIf="nombre1Control.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="nombre1Control.errors.minlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Minimo 3 caracteres </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group m-b-40">
                    <label for="input2Nombre">Segundo Nombre</label>
                    <input
                      [(ngModel)]="nombresYapellidos[1]"
                      name="nombre2"
                      type="text"
                      class="form-control"
                      id="input2Nombre"
                      (blur)="
                        nombresYapellidos[1] = nombresYapellidos[1].trim()
                      "
                    />
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group m-b-40">
                    <label for="input1Apellido">Primer Apellido</label>
                    <input
                      [(ngModel)]="nombresYapellidos[2]"
                      name="apellido1"
                      type="text"
                      class="form-control"
                      id="input1Apellido"
                      required
                      minlength="3"
                      #apellido1Control="ngModel"
                      (blur)="
                        nombresYapellidos[2] = nombresYapellidos[2].trim()
                      "
                    />
                    <ng-container
                      *ngIf="
                        apellido1Control.invalid && apellido1Control.touched
                      "
                    >
                      <div
                        *ngIf="apellido1Control.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="apellido1Control.errors.minlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Minimo 3 caracteres </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group m-b-40">
                    <label for="input2Apellido">Segundo Apellido</label>
                    <input
                      [(ngModel)]="nombresYapellidos[3]"
                      name="apellido2"
                      type="text"
                      class="form-control"
                      id="input2Apellido"
                      required
                      minlength="3"
                      #apellido2Control="ngModel"
                      (blur)="
                        nombresYapellidos[3] = nombresYapellidos[3].trim()
                      "
                    />
                    <ng-container
                      *ngIf="
                        apellido2Control.invalid && apellido2Control.touched
                      "
                    >
                      <div
                        *ngIf="apellido2Control.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="apellido2Control.errors.minlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Minimo 3 caracteres </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="inputNacionalidad">Nacionalidad</label>
                    <select
                      required
                      [(ngModel)]="persona.nacionalidad"
                      class="form-control p-0"
                      id="inputNacionalidad"
                      name="Nacionalidad"
                      #nacionalidadControl="ngModel"
                    >
                      <option></option>
                      <option>Colombiano</option>
                      <option>Venezolano</option></select
                    >
                    <ng-container
                      *ngIf="
                        nacionalidadControl.invalid &&
                        nacionalidadControl.touched
                      "
                    >
                      <div
                        *ngIf="nacionalidadControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="inputDireccion">Direccion Residencia</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputDireccion"
                      [(ngModel)]="persona.dirrecion"
                      name="Dirrecion"
                      #direccionControl="ngModel"
                      required
                      minlength="5"
                    />
                    <ng-container
                      *ngIf="
                        direccionControl.invalid && direccionControl.touched
                      "
                    >
                      <div
                        *ngIf="direccionControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="direccionControl.errors.minlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Minimo 5 caracteres </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="inputTelefono">Telefono</label>
                    <input
                      [(ngModel)]="persona.telefono"
                      name="Telefono"
                      type="text"
                      class="form-control"
                      id="inputTelefono"
                      #telefonoControl="ngModel"
                      required
                      mask="(000) 000 00 00"
                      (keypress)="onlyNumberKey($event)"
                    />
                    <ng-container
                      *ngIf="telefonoControl.invalid && telefonoControl.touched"
                    >
                      <div
                        *ngIf="telefonoControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <!-- <div
                        *ngIf="telefonoControl.errors.minlength"
                        class="container-error-message"
                      >
                        <small class="text-danger">
                          Requerido 10 digitos
                        </small>
                      </div> -->
                    </ng-container>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="inputCorreo">Correo</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputCorreo"
                      [(ngModel)]="persona.email"
                      name="Email"
                      #emailControl="ngModel"
                      required
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    />
                    <ng-container
                      *ngIf="emailControl.invalid && emailControl.touched"
                    >
                      <div
                        *ngIf="emailControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="emailControl.errors.pattern"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Correo invalido </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </form>
          </ng-wizard-step>

          <ng-wizard-step
          [description]="'Solicitud'"
          [canEnter]="isValidTypeBoolean"
          [canExit]="isValidFunctionReturnsBoolean.bind(this)">
            <span>Step 2 content</span>
            <form class="form-horizontal p-t-20" #solicitudForm="ngForm" >
              <div class="form-group row">
                <label class="control-label text-left col-md-3">C.U.I*</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    [(ngModel)]="solicitudAudiencia.proceso"
                    name="cui"
                    #cuiControl="ngModel"
                    class="form-control"
                    id="cui"
                    placeholder="Código Único investigación"
                    required

                    mask="000 - 000 - 00 - 00000 - 0000 - 00000"
                  />
                  {{solicitudAudiencia | json}}
                  <ng-container
                    *ngIf="cuiControl.invalid && cuiControl.touched"
                  >
                    <div
                      *ngIf="cuiControl.errors.required"
                      class="container-error-message"
                    >
                      <small class="text-danger"> Campo requerido </small>
                    </div>

                  </ng-container>

                </div>
              </div>

              <div class="form-group row">

                <label for="asunto" class="control-label text-left col-md-3"
                  >Asunto*</label
                >
                <div class="col-md-9">
                    <input
                      type="email"
                      [(ngModel)]="solicitudAudiencia.asunto"
                      name="asunto"
                      #asuntoControl="ngModel"
                      required
                      maxlength="40"
                      minlength="5"
                      class="form-control"
                      id="asunto"
                    />
                    <ng-container
                      *ngIf="asuntoControl.invalid && asuntoControl.touched"
                    >
                      <div
                        *ngIf="asuntoControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="asuntoControl.errors.minlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Minimo 5 caracteres</small>
                      </div>
                      <div
                        *ngIf="asuntoControl.errors.maxlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Maximo 40 caracteres</small>
                      </div>
                    </ng-container>

                </div>
              </div>

              <div class="form-group row">
                <label class="control-label text-left col-md-3"
                  >Tipo solicitante*</label
                >
                <div class="col-md-9">
                  <select
                    [(ngModel)]="solicitudAudiencia.tipoSolicitante"
                    #tipoControl="ngModel"
                    name="tipo"
                    id="tipo"
                    class="form-control custom-select"
                    required
                  >
                  <option value="">Selecione Tipo Solicitante</option>
                  <option
                  *ngFor="let item of tipoSujetoProcesales"
                  [value]="item.key"
                >
                  {{ item.nombre }}
                </option>
                  </select>
                  <ng-container
                    *ngIf="tipoControl.invalid && tipoControl.touched"
                  >
                    <div
                      *ngIf="tipoControl.errors.required"
                      class="container-error-message"
                    >
                      <small class="text-danger"> Campo requerido </small>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="form-group row">
                <label for="descripcion" class="control-label text-left col-md-3"
                  >Descripción</label
                >
                <div class="col-md-9">
                    <textarea
                      class="form-control"
                      id="descripcion"
                      rows="5"
                      [(ngModel)]="solicitudAudiencia.descripcion"
                      name="descripcion"
                    ></textarea>
                  </div>
                </div>

              <div class="form-group row">
                <label for="documento" class="control-label text-left col-md-3"
                  >Selecionar archivo PDF</label
                >
                <div class="col-md-9">
                    <input
                      type="file"
                      accept="application/pdf"
                      [(ngModel)]="solicitudAudiencia.archivo"
                      name="archivo"
                      #archivoControl="ngModel"
                      class="form-control"
                      id="documento"
                      (change)="isPDF($event)"
                    />
                  </div>
                </div>
            </form>
          </ng-wizard-step>

          <ng-wizard-step
            [description]="'Radicado'"
            [canEnter]="isValidFunctionReturnsObservable.bind(this)"
            [canExit]="isValidFunctionReturnsBoolean.bind(this)"
          >
            <br><br>
            <div class="container">
              <div class="row">
                  <div class="col align-self-center">
                    <div class="card">
                      <div class="card-body text-center">

                     <div class="row">
                       <div class="col text-left ">
                          <img src="../../assets/images/logo-Rama-Judicial.png" alt="">
                       </div>
                       <div class="col-9 text-left">
                        <div class="alert alert-success" role="alert" *ngIf="exitosa" >
                          <div class="row">
                            <label >Solicitud realizada satisfactoriamente, puede consultar su estado en nuestra plataforma con el radicado : <strong  class="alert-link">{{soliitudSudienciaResponse.radicado}}</strong></label>

                          </div>
                          <div class="form-group row justify-content-center">
                            <div class="col-sm-4">
                              <button type="button" class="btn btn-outline-dark">Imprimmir</button>
                            </div>
                            <div class="col-sm-4">
                              <button type="button" class="btn btn-outline-danger" routerLink="/login">Finalizar</button>
                            </div>

                          </div>
                        </div>

                        <div class="alert alert-danger" role="alert" *ngIf="!exitosa">
                          <div class="row">
                            <label > <strong  class="alert-link">Ocurrió un problema al solicitar una nueva audiencia, inténtelo nuevamente </strong></label>

                          </div>
                          <div class="form-group row justify-content-center">

                            <div class="col-sm-4">
                              <button type="button" class="btn btn-outline-danger" routerLink="/login">Finalizar</button>
                            </div>

                          </div>
                        </div>

                       </div>
                     </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>


          </ng-wizard-step>
        </ng-wizard>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
</div>
