
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <ng-wizard (stepChanged)="stepChanged($event)">
          <ng-wizard-step
            [title]="'Paso 1'"
            [description]="'Consultar Persona'"
            [canEnter]="isValidTypeBoolean"
            [canExit]="isValidFunctionReturnsBoolean.bind(this)"
          >
            <br />
            <div class="row">
              <div class="col-8">
                <span
                  ><strong>NOTA: </strong>Consultar Persona en el sistema
                </span>
              </div>
            </div>
            <br /><br />

            <div class="container">
              <div class="row justify-content-center">
                <div class="col-sm-6">
                  <form #documentoForm="ngForm">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                      <input
                        [(ngModel)]="persona.numeroDocumento"
                        name="documento"
                        required
                        minlength="7"
                        maxlength="11"
                        type="text"
                        (keypress)="onlyNumberKey($event)"
                        class="form-control"
                        id="documento"
                        #documentoControl="ngModel"
                        placeholder="Digite documento identificación"
                      />
                    </div>
                    <ng-container
                    *ngIf="
                      documentoControl.invalid &&
                      documentoControl.touched
                    "
                  >
                    <div
                      *ngIf="documentoControl.errors.required"
                      class="container-error-message"
                    >
                      <small class="text-danger"> Campo requerido </small>
                    </div>
                    <div
                      *ngIf="documentoControl.errors.minlength"
                      class="container-error-message"
                    >
                      <small class="text-danger"> Minimo 8 digitos</small>
                    </div>
                    <div
                      *ngIf="documentoControl.errors.maxlength"
                      class="container-error-message"
                    >
                      <small class="text-danger"> Maximo 11 digitos</small>
                    </div>
                  </ng-container>
                  </form>
                  </div>

              </div>
            </div>
          </ng-wizard-step>

          <ng-wizard-step
            [title]="'Paso 2'"
            [description]="'Datos Basicos'"
            [canEnter]="isValidTypeBoolean"
            [canExit]="isValidFunctionReturnsBoolean.bind(this)"
          >
            <form #personaForm="ngForm">
              <div class="row">
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="TipoDocumento">Tipo de documento*</label>
                    <select
                      [(ngModel)]="persona.tipoDocumento"
                      class="form-control custom-select p-0"
                      id="TipoDocumento"
                      name="TipoDocumento"
                      required
                      #TipoDocumentoControl="ngModel"

                    >
                    <!-- <option value="" *ngFor="let item of Object.keys(documentos)" [ngValue]="documentos" ></option> -->
                      <option
                        *ngFor="let item of tipoDocumentos"
                        [ngValue]="item.key"
                      >
                        {{ item.key }}
                      </option>
                    </select>
                    <ng-container
                      *ngIf="
                        TipoDocumentoControl.invalid &&
                        TipoDocumentoControl.touched
                      "
                    >
                      <div
                        *ngIf="TipoDocumentoControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="NumeroDocumento">Numero documento*</label>
                    <input
                      [value]="persona.numeroDocumento"
                      name="NumeroDocumento"
                      type="text"
                      class="form-control"
                      id="NumeroDocumento"
                      readonly
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="ExpedicionDocumento">Fecha expedición*</label>
                    <input
                      type="date"
                      [ngModel]="persona.expedicionDocumento | date:'yyyy-MM-dd'"
                      (ngModelChange)="persona.expedicionDocumento=$event"
                      name="ExpedicionDocumento"
                      class="form-control"
                      id="ExpedicionDocumento"
                      #ExpedicionDocumentoControl="ngModel"
                    />
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group m-b-40">
                    <label for="nombre1">Nombres*</label>
                    <input
                      type="text"
                      [(ngModel)]="persona.nombres"
                      name="nombres"
                      class="form-control"
                      id="nombres"
                      required
                      minlength="3"
                      #nombresControl="ngModel"
                      (blur)="
                        persona.nombres = persona.nombres.trim()
                      "
                    />
                    <ng-container
                      *ngIf="nombresControl.invalid && nombresControl.touched"
                    >
                      <div
                        *ngIf="nombresControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="nombresControl.errors.minlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Minimo 3 caracteres </small>
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group m-b-40">
                    <label for="input1Apellido">Apellidos*</label>
                    <input
                      [(ngModel)]="persona.apellidos"
                      name="apellidos"
                      type="text"
                      class="form-control"
                      id="Apellidos"
                      required
                      minlength="3"
                      #apellidosControl="ngModel"
                      (blur)="
                      persona.apellidos = persona.apellidos.trim()
                      "
                    />
                    <ng-container
                      *ngIf="
                        apellidosControl.invalid && apellidosControl.touched
                      "
                    >
                      <div
                        *ngIf="apellidosControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="apellidosControl.errors.minlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Minimo 3 caracteres </small>
                      </div>
                    </ng-container>
                  </div>
                </div>


              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="inputNacionalidad">Nacionalidad*</label>
                    <select
                      required
                      [(ngModel)]="persona?.nacionalidad.key"
                      class="form-control p-0"
                      id="inputNacionalidad"
                      name="Nacionalidad"
                      #nacionalidadControl="ngModel"
                    >
                    <option value="">Seleccione</option>
                      <option *ngFor="let item of paises" [ngValue]="item.key"> {{item.nombre}}</option>
                    </select>
                    <ng-container
                      *ngIf="
                        nacionalidadControl.invalid &&
                        nacionalidadControl.touched
                      "
                    >
                      <div
                        *ngIf="nacionalidadControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="inputDireccion">Direccion Residencia*</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputDireccion"
                      [(ngModel)]="persona.direccion"
                      name="Dirrecion"
                      #direccionControl="ngModel"
                      required
                      minlength="5"
                    />
                    <ng-container
                      *ngIf="
                        direccionControl.invalid && direccionControl.touched
                      "
                    >
                      <div
                        *ngIf="direccionControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="direccionControl.errors.minlength"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Minimo 5 caracteres </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="inputTelefono">Telefono*</label>
                    <input
                      [(ngModel)]="persona.telefono"
                      name="Telefono"
                      type="text"
                      class="form-control"
                      id="inputTelefono"
                      #telefonoControl="ngModel"
                      required
                      maxlength="10"
                      minlength="10"
                      placeholder="321 000 00 00"
                      mask="000-000-00-00"
                      (keypress)="onlyNumberKey($event)"
                    />
                    <ng-container
                      *ngIf="telefonoControl.invalid && telefonoControl.touched"
                    >
                      <div
                        *ngIf="telefonoControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>

                    </ng-container>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group m-b-40">
                    <label for="inputCorreo">Correo*</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputCorreo"
                      [(ngModel)]="persona.email"
                      name="Email"
                      #emailControl="ngModel"
                      required
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    />
                    <ng-container
                      *ngIf="emailControl.invalid && emailControl.touched"
                    >
                      <div
                        *ngIf="emailControl.errors.required"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Campo requerido </small>
                      </div>
                      <div
                        *ngIf="emailControl.errors.pattern"
                        class="container-error-message"
                      >
                        <small class="text-danger"> Correo invalido </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </form>
          </ng-wizard-step>

          <ng-wizard-step
            [title]="'Paso 3'"
            [description]="'Credenciales'"
            [canEnter]="isValidTypeBoolean"
            [canExit]="isValidFunctionReturnsBoolean.bind(this)"
          >
          <form #empleadoForm="ngForm">
            <div class="row justify-content-center">
              <div class="col-4">
                <div class="">
                  <div class="form-group">
                    <label class="control-label">Usuario*</label>
                    <input
                    [value]="persona.numeroDocumento"
                    readonly
                      name="usuario"
                      type="text"
                      id="firstName"
                      class="form-control"
                      placeholder="John doe"
                      required
                    />

                  </div>
                </div>

                <div class="">
                  <div class="form-group">
                    <label class="control-label">Inicio Cargo*</label>
                    <input
                    [(ngModel)]="empleado.inicioCargo"
                    name="inicioCargo"
                    #inicioCargoControl="ngModel"
                    type="date"
                    class="form-control"
                    placeholder="dd/mm/yyyy"
                  />
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="">
                  <div class="form-group ">
                    <label class="control-label">Rol</label>
                    <select
                      [(ngModel)]="empleado.rolKey"
                      name="rol"
                      #rolControl="ngModel"
                    class="form-control custom-select">
                    <option  value="" selected>Seleccione</option>
                      <option *ngFor="let item of roles"  [value]="item.key">{{item.nombre}}</option>
                    </select>
                    <ng-container
                    *ngIf="rolControl.invalid && rolControl.touched"
                     >
                     <div
                     *ngIf="rolControl.errors.required"
                     class="container-error-message"
                   >
                    <small class="form-control is-invalid">
                      Campo requerido
                    </small>
                   </div>
                    </ng-container>

                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label class="control-label">Finalización cargo</label>
                    <input
                    [(ngModel)]="empleado.finCargo"
                    name="fincargo"
                    #finCargoControl="ngModel"
                      type="date"
                      class="form-control"
                      placeholder="dd/mm/yyyy"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col text-center">
                <button type="submit" (click)="validarFormulario()" class="btn btn-success">
                  <i class="fa fa-check"></i> Registrar
                </button>
                <button type="button" routerLink="/empleados" class="btn btn-inverse">Cancelar</button>
              </div>
              <!-- <div class="col-4">

            </div> -->
            </div>
          </form>
          </ng-wizard-step>
        </ng-wizard>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container">
  <div class="row justify-content-center">
    <div class="card w-100 text-center">
      <div class="card-header">
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div> -->
